@page "/rentals"
@using Models
@inject Services.DatabaseService DatabaseService

<h1>Rentals</h1>
<p>@msg</p>
<div class="mt-3 bg-success text-white bg-opacity-75">
    @testMsg
</div>

@if (rentals_list.Count == 0)
{
    <p><em>There are no rental items at this time.</em></p>
}
else
{

    <div class="nav-header">
        <div>
            <form @onsubmit="FilterRentals">
                <input type="text" @bind="name" class="search-field" placeholder="Name" />
                <button type="submit" class="btn btn-dark"><i class="bi bi-search"></i></button>
            </form>
        </div>

        <div>
            <button type="submit" class="btn btn-success" @onclick="ShowRentalAddModal">
                <i class="bi bi-person-add"></i>
            </button>
        </div>

        <div>
            <button type="submit" class="btn btn-secondary" @onclick="RefreshList">
                <i class="bi bi-arrow-clockwise"></i>
            </button>
        </div>
    </div>
    <table class="table new-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Customer</th>
                <th>Equipment</th>
                <th>Rental Date</th>
                <th>Return Date</th>
                <th>Cost</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Rental rental in rentals_list)
            {
                <tr>
                    <td>@rental.RentalId</td>
                    <td>@rental.CurrentDate</td>
                    <td>@rental.CustomerId</td>
                    <td>@rental.EquipmentId</td>
                    <td>@rental.RentalDate</td>
                    <td>@rental.ReturnDate</td>
                    <td>@rental.Cost</td>
                    <td>
                        <button type="submit" class="btn btn-primary" @onclick="() => ShowRentalUpdateModal(rental)">
                            <i class="bi bi-pencil-square"></i>
                        </button>
                     
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Rental> rentals_list = new List<Rental>();
    //for modal
    private Modal modal = default!;
    private bool showDeleteConfirmation = false;
    private string? testMsg;

    private string msg = String.Empty;

    private List<Rental>? filteredData = new List<Models.Rental>();
    private List<Rental>? result = new List<Rental>();

    private string? name;



    protected override async Task OnInitializedAsync()
    {
        if (DatabaseService.isSuccessfulConnection())
        {
            msg = "Connection - OK!";
        }
        else
        {
            msg = "Open ssh tunnel or reconfigure connection string at MauiProgram.cs";
        }

        //custList = await DatabaseService.GetCustomers();
        await RefreshList();
    }


    private void FilterRentals()
    {
        if (rentals_list == null || !rentals_list.Any())
        {
            return;
        }



        foreach(Models.Rental rental in rentals_list)
        {
            bool match = true;
            /*
            if (!string.IsNullOrEmpty(name) &&
                !(rental.FirstName.Contains(name, StringComparison.OrdinalIgnoreCase) ||
                  rental.LastName.Contains(name, StringComparison.OrdinalIgnoreCase)))
                {
                match = false;
            }
            */
            if (match)
            {
                result.Add(rental);
            }
            filteredData = result;
        }

    }

    private async Task RefreshList()
    {
        try
        {
            rentals_list = await DatabaseService.GetRentals();
            filteredData = null;
        }
        catch (Exception e)
        {
            testMsg = $"Error during refresh: {e.Message}";
        }
    }


    //AddModal start
    private async Task ShowRentalAddModal()
    {
        try
        {
            var parameters = new Dictionary<string, object>
            {
                { "OnClickCallback", EventCallback.Factory.Create<List<object>>(this, TestSuccessCallbackAdd) }
            };

            await modal.ShowAsync<RentalModalAdd>(title: "New Rental", parameters: parameters);

        }catch(Exception e)
        {
            testMsg = $"An error occurred: {e.Message}";
        }
    }


    private async Task TestSuccessCallbackAdd(List<object> rentalData)
    {
        try
        {
            testMsg = $"new customer data: {rentalData[0]} {rentalData[1]} {rentalData[2]} {rentalData[3]}";
            await DatabaseService.AddRental(rentalData);
            await RefreshList();
            await modal.HideAsync();
        }
        catch (Exception e)
        {
            testMsg = $"An error occurred: {e.Message}";
        }
    }



    private async Task ShowRentalUpdateModal(Rental rental)
    {
        try
        {
            var parameters = new Dictionary<string, object>
            {
                { "Rental", rental },
                { "OnClickCallback", EventCallback.Factory.Create<Rental>(this, TestSuccessCallbackUpdate)}
            };

            await modal.ShowAsync<UpdateRentalModal>(title: "Update Rental", parameters: parameters);
        }catch(Exception e)
        {
            testMsg = $"An error occurred: {e.Message}";
        }
    }



    private async Task TestSuccessCallbackUpdate(Rental updatedRental)
    {
        try
        {

            testMsg = $"RentalID: {updatedRental.RentalId}, Current Date: {updatedRental.CurrentDate}, updated successfully";
            await DatabaseService.UpdateRental(updatedRental);
            await RefreshList();
            await modal.HideAsync();
        }
        catch (Exception e)
        {
            testMsg = $"An error occurred: {e.Message}";
        }
    }


}
